@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
      ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
    --font-body: 'Inter', var(--font-system), sans-serif;
    --inspect-color: #f00;
  }
  
  html {
    line-height: 1.5;
    box-sizing: border-box;
    text-rendering: geometricprecision;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    font-family: var(--font-body);
    scroll-behavior: smooth;
    @apply bg-black
  }
  
  body.inspect * {
    outline: 1px solid var(--inspect-color) !important;
  }
  
  /* body:not(.user-is-tabbing) button:focus,
  body:not(.user-is-tabbing) input:focus,
  body:not(.user-is-tabbing) select:focus,
  body:not(.user-is-tabbing) textarea:focus {
  outline: none;
  } */

  main {
    display: block;
  }

  @font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-display: block;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/inter/Inter-roman.var.woff2?v=3.15') format('woff2');
  }
  
  @font-face {
    font-family: Inter;
    font-weight: 100 900;
    font-display: block;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('/fonts/inter/Inter-italic.var.woff2?v=3.15') format('woff2');
  }

  .has-scroll-smooth {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }

}

@layer components {
  .hoverAnimation {
    @apply hover:bg-[#d9d9d9] hover:bg-opacity-10 rounded-2xl
		cursor-pointer w-[40px] h-[40px] xl:w-auto xl:h-auto xl:py-2 xl:px-2 
		transition duration-200 ease-out;
  }

  .icon {
    @apply cursor-pointer w-9 h-9 hover:bg-[#1d9bf0] 
    hover:bg-opacity-10 flex items-center justify-center rounded-full 
    transition ease-out;
  }
}